.formulario {
    display: flex;
    justify-content: center;
    margin: 60px 0;
    color: rgb(7, 2, 26);;
}

.formulario form {
    max-width: 80%;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 36px 64px;
}
